{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properities -->
    <title>Portal B2TA3</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">

    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'semantic.min.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>

    {% block custom_style_login %}{% endblock %}
</head>
<body>
    <!--Rail-->
    <div class="ui rail">
        <!--Sticky-->
        <div id="menu_samping_komputer">
            <div id="samping_komputer" class="ui inverted left vertical pointing small fixed menu portal no-border-radius" style="height: 100% !important;">
                <div class="item logo">
                    <img class="ui image" src="{% static 'portal.svg' %}">
                </div>

                <a href="index.html" class="active item tunjuk">
                    <i class="home icon"></i>
                    Utama
                </a>
                <a href="kegiatan.html" class="item">
                    <i class="fork icon"></i>
                    Kegiatan
                </a>
                <a class="item stkk">
                    <i class="copy icon"></i>
                    STKK
                </a>
                <a href="login.html" class="item">
                    <i class="sign in icon"></i>
                    Login
                </a>
                <a class="item tentang">
                    <i class="pointing left icon"></i>
                    Info
                </a>
            </div>
        </div>
        <!--Akhir Sticky-->

        <!--Sticky-->
        <div id="menu_samping_tablet">
            <div id="samping_tablet" class="ui inverted left vertical fixed pointing compact menu portal no-border-radius" style="height: 100% !important;">
                <div class="item logo">
                    <img class="ui mini image" src="{% static 'portal_favicon.png' %}">
                </div>

                <a href="index.html" class="active item tunjuk" data-position="right center" data-content="Utama">
                    <i class="home icon non-float"></i>
                </a>
                <a href="kegiatan.html" class="item" data-position="right center" data-content="Kegiatan">
                    <i class="fork icon non-float"></i>
                </a>
                <a class="item stkk" data-position="right center" data-content="STKK">
                    <i class="copy icon non-float"></i>
                </a>
                <a href="login.html" class="item" data-position="right center" data-content="Login">
                    <i class="sign in icon non-float"></i>
                </a>
                <a class="item tentang" data-position="right center" data-content="Info">
                    <i class="pointing left icon non-float"></i>
                </a>
            </div>
        </div>
        <!--Akhir Sticky-->
    </div>
    <!--Akhir Rail-->

    <div id="konten" class="ui stackable five column relaxed grid">
        <!--Segmen info -->
        <div class="sixteen wide column">
            <div class="ui tall stacked gelap segment">
                <h2 class="ui header terang">SELAMAT DATANG DI PORTAL B2TA3</h2>

                <p>
                    Halaman ini merupakan portal yang digunakan sebagai kumpulan aplikasi yang pernah dibuat/dipakai
                    secara aktif di lingkungan unit kerja B2TA3. Aplikasi - aplikasi <i>Open Source</i> ini dibuat
                    dengan latar belakang teknologi yang berbeda disertai dengan multi infrastruktur. Semoga dapat
                    memberi manfaat.
                </p>
            </div>
        </div>
        <!--Akhir segmen info-->

        <!--Automatic flow column-->
        <div class="four wide column">
            <div class="ui fluid card gelap" style="height: 100%;">
                <div class="image">
                    <img src="{% static 'logo_aerobox' %}">
                </div>

                <div class="content">
                    <div class="header terang">AEROBOX</div>
                    <div class="description terang">
                        Penerapan aplikasi Open Source Owncloud di lingkungan B2TA3 untuk keperluan sharing data.
                    </div>
                </div>

                <div class="ui one bottom attached buttons">
                    <!--<a href="" class="ui red button">
                        <i class="trash icon"></i>
                        Hapus
                    </a>
                    <a href="" class="ui button">
                        <i class="pencil icon"></i>
                        Edit
                    </a>-->
                    <a href="http://10.10.42.15:80/aerobox" class="ui teal button">
                        <i class="play icon"></i>
                        Lihat
                    </a>
                </div>
            </div>

            <div class="ui inverted popup">
                <div class="ui small header">Info App</div>
                <p>v8.2.1</p>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui fluid card gelap" style="height: 100%;">
                <div class="image">
                    <img src="{% static 'logo_gitlab' %}">
                </div>

                <div class="content">
                    <div class="header terang">GITLAB</div>
                    <div class="description terang">
                        Penerapan aplikasi Open Source GitLab di lingkungan B2TA3 untuk keperluan version control.
                    </div>
                </div>

                <div class="ui one bottom attached buttons">
                    <!--<a href="" class="ui red button">
                        <i class="trash icon"></i>
                        Hapus
                    </a>
                    <a href="" class="ui button">
                        <i class="pencil icon"></i>
                        Edit
                    </a>-->
                    <a href="http://10.10.42.15:81" class="ui teal button">
                        <i class="play icon"></i>
                        Lihat
                    </a>
                </div>
            </div>

            <div class="ui inverted popup">
                <div class="ui small header">Info App</div>
                <p>v8.2.2</p>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui fluid card gelap" style="height: 100%;">
                <div class="image">
                    <img src="{% static 'logo_logapp' %}">
                </div>

                <div class="content">
                    <div class="header terang">LOGAPP</div>
                    <div class="description terang">
                        Penerapan Aplikasi Open Source di lingkungan B2TA3 untuk keperluan log kegiatan.
                    </div>
                </div>

                <div class="ui one bottom attached buttons">
                    <!--<a href="" class="ui red button">
                        <i class="trash icon"></i>
                        Hapus
                    </a>
                    <a href="" class="ui button">
                        <i class="pencil icon"></i>
                        Edit
                    </a>-->
                    <a href="http://10.10.42.15:5000" class="ui teal button">
                        <i class="play icon"></i>
                        Lihat
                    </a>
                </div>
            </div>
            <div class="ui inverted popup">
                <div class="ui small header">Info App</div>
                <p>v0.2</p>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui fluid card gelap" style="height: 100%;">
                <div class="image">
                    <img src="{% static 'logo_simpeg' %}">
                </div>

                <div class="content">
                    <div class="header terang">SIMPEG</div>
                    <div class="description terang">
                        Penerapan Aplikasi Open Source di lingkungan B2TA3 untuk keperluan data kepegawaian.
                    </div>
                </div>

                <div class="ui one bottom attached buttons">
                    <!--<a href="" class="ui red button">
                        <i class="trash icon"></i>
                        Hapus
                    </a>
                    <a href="" class="ui button">
                        <i class="pencil icon"></i>
                        Edit
                    </a>-->
                    <a href="http://10.10.42.15:9000/simpeg" class="ui teal button">
                        <i class="play icon"></i>
                        Lihat
                    </a>
                </div>
            </div>
            <div class="ui inverted popup">
                <div class="ui small header">Info App</div>
                <p>v0.1</p>
            </div>
        </div>
        <!--Akhir automatic flow column-->

        <div class="large-space"></div>

        <!--Segmen kegiatan -->
        <div class="sixteen wide column">
            <div class="ui stacked gelap orange clearing segment">
                <h4 class="ui header terang" style="margin-bottom: 0;">Kegiatan terkini</h4>
                <a href="kegiatan.html" class="ui right floated button" style="position: absolute;right: 2%;top: 25%;">selengkapnya</a>
            </div>
        </div>
        <!--Akhir segmen kegiatan-->

        <div class="five column row">
            <!--Automatic flow column-->
            <div class="column kartu-lega">
                <div class="ui fluid card gelap kartu-wrap" style="height: 100%;">
                    <div class="content">
                    <div class="header terang">Pengujian N219</div>
                        <div class="meta">
                            <span class="terang">2 days ago</span>
                            <a href="" style="color: #00B5AD;">STKK123</a>
                        </div>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="column kartu-lega">
                <div class="ui fluid card gelap kartu-wrap" style="height: 100%;">
                    <div class="content">
                    <div class="header terang">Pengujian Jembatan Siak</div>
                        <div class="meta">
                            <span class="terang">4 days ago</span>
                            <a href="" style="color: #00B5AD;">STKK125</a>
                        </div>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="column kartu-lega">
                <div class="ui fluid card gelap kartu-wrap" style="height: 100%;">
                    <div class="content">
                    <div class="header terang">Pengembangan SIMPEG</div>
                        <div class="meta">
                            <span class="terang">2 days ago</span>
                            <a href="" style="color: #00B5AD;">STKK332</a>
                        </div>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="column kartu-lega">
                <div class="ui fluid card gelap kartu-wrap" style="height: 100%;">
                    <div class="content">
                    <div class="header terang">Troubleshoot Server</div>
                        <div class="meta">
                            <span class="terang">2 days ago</span>
                            <a href="" style="color: #00B5AD;">NON-STKK</a>
                        </div>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="column kartu-lega">
                <div class="ui fluid card gelap kartu-wrap" style="height: 100%;">
                    <div class="content">
                    <div class="header terang">Perawatan DARS</div>
                        <div class="meta">
                            <span class="terang">6 days ago</span>
                            <a href="" style="color: #00B5AD;">STKK552</a>
                        </div>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="column kartu-lega">
                <div class="ui fluid card gelap kartu-wrap" style="height: 100%;">
                    <div class="content">
                    <div class="header terang">Pengembangan LogApp</div>
                        <div class="meta">
                            <span class="terang">7 days ago</span>
                            <a href="" style="color: #00B5AD;">STKK552</a>
                        </div>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
            <!--Akhir automatic flow column-->
        </div>

        <!--Modal aplikasi-->
        <div id="modal-aplikasi" class="ui small modal">
            <div class="header">
                Tentang Aplikasi Portal (v0.1)
            </div>

            <div class="content">
                <p class="teks-gelap">
                    Aplikasi ini dibuat dengan sepenuh <i class="red heart fitted icon"></i> oleh
                    <a href="https://github.com/akbarpn136" title="Check is out!">TRIE</a> dan ditenagai oleh python
                    django. Semoga bermanfaat.
                </p>
            </div>

            <div class="actions">
                <div class="ui positive right labeled icon button">
                    Oke
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
        <!--Akhir modal aplikasi-->

        <!--Modal stkk-->
        <div id="modal-stkk" class="ui small modal">
            <div class="header">
                Tentang STKK
            </div>

            <div class="content">
                <p class="teks-gelap">
                    Maaf, saat ini masih dalam proses pengerjaan...<i class="history fitted icon"></i>
                </p>
            </div>

            <div class="actions">
                <div class="ui positive right labeled icon button">
                    Oke
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
        <!--Akhir modal stkk-->
    </div>
</body>
</html>
